# Instructions:

## Player Count
• Total number of Players

## Purchasing Analysis
• Number of unique items
• Avg purchasing price
• Total number of purchases
• Total revenue

## Gender Demographics
• Percentage of Female Players & Count of Female Players
• Percentage of Male Players & Count of Male Players
• Percentage of Other/Non-Disclosed Players & Count of Other/Non-Disclosed Players

## Purchasing Analysis (By Gender)
Female:
• Purchase Count
• Average Purchase Price
• Total Purchase Value
• Normalized Totals

Male:
• Purchase Count
• Average Purchase Price
• Total Purchase Value
• Normalized Totals

## Age Demographics
Table Summry (By age):
• Purchase Count
• Average Purchase Price
• Total Purchase Value
• Normalized Totals

## Top Spenders
Top 5 Spenders:
• SN
• Purchase Count
• Average Purchase Price
• Total Purchase Value

## Most Popular Items
Top 5 Popular Items:
• Name ID
• Item Name
• Purchase Count
• Item Price
• Total Purchase Value

In [2]:
# dependencies
import pandas as pd

file = "purchase_data.json"

# read file
purchase_df = pd.read_json(file)
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [19]:
# columns:

# age:
age = purchase_df["Age"]

# gender:
gender = purchase_df["Gender"]
by_gender = gender.groupby(purchase_df["Gender"])


# item id:
item_id = purchase_df["Item ID"]

# item name:
item_name = purchase_df["Item Name"]
no_purchases = len(item_name)

unique_items = item_name.unique()
no_unique_items = len(unique_items)

# item price:
price = purchase_df["Price"]
total_rev = price.sum()

avg_price = price.mean()

# name:
sn = purchase_df["SN"]

unique_players = len(sn.unique())

# test

## Player Count

In [4]:
player_count = pd.DataFrame({"Player Count": [unique_players]})
player_count

   Player Count
0           573

## Purchasing Analysis (Total)

In [5]:
purchasing_analysis = pd.DataFrame({
    "Number of Unique Items":[no_unique_items],
    "Avg. Purchase Price": ["${:,.2f}".format(avg_price)],
    "Total Number of Purchases" : [no_purchases],
    "Total Number of Revenue" : ["${:,.2f}".format(total_rev)]
})


purchasing_analysis[["Number of Unique Items","Avg. Purchase Price","Total Number of Purchases", "Total Number of Revenue"]]

,Number of Unique Items,Avg. Purchase Price,Total Number of Purchases,Total Number of Revenue
0,179,$2.93,780,"$2,286.33"

## Gender Demographics

In [21]:
gen_demo = pd.DataFrame({})

gen_demo["% by Counts"] = round(purchase_df["Gender"].value_counts()/no_purchases,2)
gen_demo["Counts"] = purchase_df["Gender"].value_counts()

gen_demo

                       % by Counts  Counts
Male                          0.81     633
Female                        0.17     136
Other / Non-Disclosed         0.01      11

## Purchasing Analysis (By Gender)

In [80]:
purch_anal = pd.DataFrame({})


purch_anal["Purchase Count"] = purchase_df["Gender"].value_counts()
by_gen = purchase_df.groupby(["Gender"])
purch_anal["Average Purchase Price"] = round(by_gen["Price"].mean(),2)
purch_anal["Total Purchase Value"] = by_gen["Price"].sum()
# purch_anal["Normalized Totals"] = 

purch_anal

,Purchase Count,Average Purchase Price,Total Purchase Value
Male,633,2.95,1867.68
Female,136,2.82,382.91
Other / Non-Disclosed,11,3.25,35.74

## Age Demographics

In [114]:
age_demo = pd.DataFrame({})

bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
labels = ["Less Than 5", "Less Than 10", "Less Than 15", "Less Than 20", "Less Than 25", "Less Than 30", "Less Than 35", "Less Than 40", "Less Than 45", "Less Than 50"]

purchase_df["Interval"] = pd.cut(purchase_df["Age"], bins, labels=labels)

age_by_purch = purchase_df["Interval"].value_counts()
print(age_by_purch[0])
print(age_by_purch[1])
print(age_by_purch[2])
print(age_by_purch[3])
print(age_by_purch[4])


#ge_by_purch[

"Age"].value_counts()[0]
#ge_demo["Less Than 5"] = 
#rint(age_demo)
# age_demo["Less Than 10"] = 
# age_demo["Less Than 15"] = 
# age_demo["Less Than 20"] = 
# age_demo["Less Than 25"] = 
# age_demo["Less Than 30"] = 
# age_demo["Less Than 35"] = 
# age_demo["Less Than 40"] = 
# age_demo["Less Than 45"] = 
# age_demo["Less Than 50"] = 

# age_demo

0
32
78
184
305