In [1]:
# dependencies
import pandas as pd

# file paths
items = "Resources/items_complete.csv"
players = "Resources/players_complete.csv"
purch1 = "Resources/purchase_data.json"
purch2 = "Resources/purchase_data_3.csv"
purch3 = "Resources/purchase_data_3.json~51e29357f0f3ed3e3ef812657c279d35bfcddf67"
purch4 = "Resources/purchase_data_3.json~HEAD"

In [41]:
files = [items,players,purch1,purch2,purch3,purch4]

for i in files:
    print(str(i) + "--------------------------------------------------")
    print("Headers:")
    print(i)

Resources/items_complete.csv--------------------------------------------------
Headers:
Resources/items_complete.csv
Resources/players_complete.csv--------------------------------------------------
Headers:
Resources/players_complete.csv
Resources/purchase_data.json--------------------------------------------------
Headers:
Resources/purchase_data.json
Resources/purchase_data_3.csv--------------------------------------------------
Headers:
Resources/purchase_data_3.csv
Resources/purchase_data_3.json~51e29357f0f3ed3e3ef812657c279d35bfcddf67--------------------------------------------------
Headers:
Resources/purchase_data_3.json~51e29357f0f3ed3e3ef812657c279d35bfcddf67
Resources/purchase_data_3.json~HEAD--------------------------------------------------
Headers:
Resources/purchase_data_3.json~HEAD

In [62]:
# research - files

print("items_complete.csv --------------------------------------------------")

print("Headers:")

print(items_df.columns)

print("Summary:")

items_df = pd.read_csv(items)
print(items_df.describe())

print("players_complete.csv --------------------------------------------------")

print("Headers:")

print(players_df.columns)

print("Summary:")
players_df = pd.read_csv(players)
print(players_df.describe())

print("purchase_data.json--------------------------------------------------")

print("Headers:")

print(purch1_df.columns)

print("Summary:")

purch1_df = pd.read_json(purch1)
print(purch1_df.describe())

print("purchase_data_3.csv--------------------------------------------------")

print("Headers:")

print(purch2_df.columns)

print("Summary:")

purch2_df = pd.read_csv(purch2)
print(purch2_df.describe())

print("purchase_data_3.json--------------------------------------------------")

print("Headers:")

print(purch3_df.columns)

print("Summary:")

purch3_df = pd.read_json(purch3)
print(purch3_df.describe())

print("purchase_data_3.json~head--------------------------------------------------")

print("Headers:")

print(purch4_df.dtypes)

print("Summary:")

purch4_df = pd.read_json(purch4)
print(purch4_df.describe())

items_complete.csv --------------------------------------------------
Headers:
Index(['Item ID', 'Item Name', 'Price'], dtype='object')
Summary:
          Item ID       Price
count  190.000000  190.000000
mean    94.500000    2.890158
std     54.992424    1.167021
min      0.000000    1.020000
25%     47.250000    1.840000
50%     94.500000    2.785000
75%    141.750000    4.007500
max    189.000000    4.970000
players_complete.csv --------------------------------------------------
Headers:
Index(['Player ID', 'SN', 'Age', 'Gender'], dtype='object')
Summary:
         Player ID          Age
count  1163.000000  1163.000000
mean    581.000000    22.548581
std     335.873488     6.966727
min       0.000000     7.000000
25%     290.500000    19.000000
50%     581.000000    22.000000
75%     871.500000    25.000000
max    1162.000000    45.000000
purchase_data.json--------------------------------------------------
Headers:
Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')
Summary:
              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000
purchase_data_3.csv--------------------------------------------------
Headers:
Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')
Summary:
       Purchase ID        Age     Item ID      Price
count    78.000000  78.000000   78.000000  78.000000
mean     38.500000  22.551282   93.935897   2.924359
std      22.660538   7.339003   56.352633   1.134913
min       0.000000   7.000000    0.000000   1.020000
25%      19.250000  20.000000   48.000000   1.925000
50%      38.500000  22.500000   97.500000   2.770000
75%      57.750000  25.000000  137.000000   4.092500
max      77.000000  40.000000  181.000000   4.810000
purchase_data_3.json--------------------------------------------------
Headers:
Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')
Summary:
             Age     Item ID      Price
count  78.000000   78.000000  78.000000
mean   22.551282   93.935897   2.924359
std     7.339003   56.352633   1.134913
min     7.000000    0.000000   1.020000
25%    20.000000   48.000000   1.925000
50%    22.500000   97.500000   2.770000
75%    25.000000  137.000000   4.092500
max    40.000000  181.000000   4.810000
purchase_data_3.json~head--------------------------------------------------
Headers:
Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
SN            object
dtype: object
Summary:
              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.807692   90.891026    3.032269
std      7.114428   52.884253    1.201268
min      7.000000    0.000000    1.140000
25%     19.000000   46.000000    1.975000
50%     22.000000   92.000000    2.890000
75%     25.000000  136.000000    4.120000
max     45.000000  183.000000    4.990000

In [86]:
# research - number of unique items 

no_unique = len(items_df["Item Name"].value_counts())
no_unique

186

In [85]:
# research - average purchase price
avg_price = "$" + str(round(items_df["Price"].mean(),2))
avg_price

# items_df["Price"].mean().map("${:.2f}".format)

'$2.89'

# Number of Players

In [64]:
pd.DataFrame({"Total Players":[len(players_df["SN"])]})

   Total Players
0           1163

# Purchasing Analysis (Total)